.TeamPage {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
    align-items: center;
    padding: 10px;
}

.container > p{
  margin-bottom: 75px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
}

.container > h2 {
  font-size: 30px;
  font-weight: 500;
}

.bench > li {
  width: 150px;
}

.starters > li {
  width: 200px
}
