.Home {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-info {
  position: relative;
  display: flex;
  grid-row: 1;
  justify-self: center;
  flex-direction: column;
  margin-top: 50px;
  justify-items: center;
}
.scores-and-videos {
  display: grid;
  /* grid-row: 2; */
  /* grid-template-columns: auto 1fr; */
}

.scoreList {
    display: none;
    padding: 50px;
}

.draftLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1.5rem;
  text-underline-offset: 5px;
  color: black;
}

.draftLink:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        color: white;
        cursor: pointer;
}

.videos {
  display: flex;
  justify-content: center;
}
