.Home {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.scoreList {
    display: none;
    grid-row: 2;
    padding: 50px;
}

.draftLink {
  display: flex;
  align-items: center;
  justify-content: center;
}