.Ticker {
  
}

.track {
    position: absolute;
    white-space: nowrap;
    background-color: lightblue;
    font-family: 'Playfair Display SC', serif;
}

.track > h1 {
    margin: 20px 0;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}