.Ticker {
  background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.track {
    position: absolute;
    white-space: nowrap;
    background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Playfair Display SC', serif;
}

.track > h1 {
    margin: 20px 0;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}