.ScoreItem {    
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid red;
    margin: 5px;
    width: fit-content;
    padding: 5px;
  
}

.homeTeam {
    color: blue
}

.homeTeam span {
    color: red;
}
.awayTeam {
    color: red
}

.awayTeam span {
    color: blue;
}

li h2 {
    margin: 10px;
}