form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  
}

button {
    box-shadow:inset 0px 1px 3px 0px #556361;
	background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: #2c3e50;
	background-color:#2c3e50;
	border-radius:5px;
	border:1px solid #2c3e50;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #202726;
    margin: 5px;
    font-family: 'Playfair Display SC', serif;
}

button:hover {
	background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
  background: #2c3e50
}
button:active {
	position:relative;
	top:1px;
}

input {
    margin: 5px;
    border: 1 solid white;
    border-radius: 3%;
    text-align: center;
    height: 1.2rem;
    font-family: 'Playfair Display SC', serif;
}